.record {
	&-form {
		display: flex;
		flex-direction: column;
		padding: 10px;
		row-gap: 20px;
		font-family: 'Nunito', sans-serif;
		font-weight: normal;
		font-style: normal;
	}

	&-input {
		border: 1px solid rgb(121, 36, 6);

		&:focus {
			outline: 1px solid rgb(121, 36, 6);
		}
	}

	&-overlay {
		border-radius: 8px;
		border: 2px solid rgb(121, 36, 6);
	}

	&-button {
		background-color: rgb(121, 36, 6);
	}
}
