.container {
	width: 100%;
	max-width: 1400px;
	padding: 0 10px;
	box-sizing: border-box;
}

.button {
	height: 30px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	transition: all 0.3s ease;
	
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}
